:root {
	--scrollbar:var(--content-opacity-80);
    --track: #777;
    --thumb: #a6a6a6;
	--thumb-active: #ccc;
	--scrollwidth: 1.25rem;
}
html{scrollbar-width:auto;scrollbar-color:var(--thumb) var(--track);}
::-webkit-scrollbar{background:var(--scrollbar);width:var(--scrollwidth);}
::-webkit-scrollbar-track{background:var(--track);border-radius:var(--scrollwidth);}
::-webkit-scrollbar-thumb{background-color:var(--thumb);border-radius:var(--scrollwidth);border:calc(var(--scrollwidth) / 5) solid var(--track);}
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active{background-color:var(--thumb-active);}
::-webkit-scrollbar-button:single-button{height:calc(1.1 * var(--scrollwidth));}
::-webkit-scrollbar-button:vertical{background:no-repeat center;}
::-webkit-scrollbar-button:single-button:vertical:decrement{background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-7.5 -7.5 30 30'%3E%3Cpolygon points='0,15 15,15 7.5,2' style='fill:%23a6a6a6;'/%3E%3C/svg%3E");}
::-webkit-scrollbar-button:single-button:vertical:decrement:hover{background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-7.5 -7.5 30 30'%3E%3Cpolygon points='0,15 15,15 7.5,2' style='fill:%23ccc;'/%3E%3C/svg%3E");}
::-webkit-scrollbar-button:single-button:vertical:increment{background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-8 -8 32 32'%3E%3Cpolygon points='0,0 16,0 8,13.86' style='fill:%23a6a6a6;'/%3E%3C/svg%3E");}
::-webkit-scrollbar-button:vertical:single-button:increment:hover{background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-8 -8 32 32'%3E%3Cpolygon points='0,0 16,0 8,13.86' style='fill:%23ccc;'/%3E%3C/svg%3E");}	
