input[type="checkbox"]:first-child,
.InputfieldMapMarkerToggle label input{
	display: inline-block;
    font-size: .75em;
    position: relative;
    width: 4em;
    height: 2.5em;
    border: 0.2em solid #D6D6D6;border: 0.2em solid rgba(0,0,0,.15);
    border-radius: 3em;
    background-color: #FFF;
    box-shadow: inset 5em 0 0 #eee;
    flex-shrink: 0;
    margin: .1em var(--admin-input-margin) .1em 0;
}

input[type="checkbox"]:first-child:after,
.InputfieldMapMarkerToggle input:after{
    content: "";
    position: absolute;
    top: .25em;
    left: .3em;
    background: #FFF;
    width: 1.6em;
    height: 1.6em;
    border-radius: 50%;
    transition: transform 350ms ease;
    box-shadow: 0.05em 0.15em 0.25em 0em rgb(0 0 0 / 20%);
}
input[type="checkbox"]:first-child:checked {
	background-color:var(--button-bckgnd-color);
	background-image:none;
	box-shadow:inset 5em 0 0 var(--button-bckgnd-color);
	border-color:rgba(255,255,255,0.5);
}
input[type="checkbox"]:first-child:checked:after {
	transform:translateX(1.5em);
	box-shadow: 0 0.2em 0.4em 0.1em rgb(0 0 0 / 20%);
}

p.template-checkboxes input[type="checkbox"]:first-child {
	font-size: .44em;
    margin: -.1em var(--admin-input-margin) .3em 0;
}